{% extends 'master' %}

{% block content %}
    <!--Page Title-->
    <section class="page-title" style="assets/background-image:url(images/background/20.jpg)">
    	<div class="auto-container">
        	<h1>Company Overview</h1>
            <ul class="page-breadcrumb">
            	<li><a href="#">Home</a></li>
                <li>Company Overview</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Company Overview Section-->
    <section class="company-overview-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <div class="sidebar col-lg-3 col-md-4 col-sm-12">
                	
                    <div class="sidebar-widget-two cat-widget">
                    	<ul>
                        	<li class="active"><a href="company">Company Overview</a></li>
                            <li><a href="history">Company History</a></li>
                            {# <li><a href="careers.html">Career</a></li>
                            <li><a href="partners.html">Our partners</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li> #}
                        </ul>
                    </div>
                    
                    <!--Help Widget-->
                    {# <div class="sidebar-widget-two help-widget">
                    	<div class="help-inner" style="background-image:url(images/resource/help-img.jpg)">
                        	<div class="icon-box"><img src="assets/images/icons/help-icon.png" alt=""></div>
                            <h3>How Can We Help</h3>
                            <ul>
                            	<li><span class="icon flaticon-telephone-handle-silhouette"></span>1800 456 7890</li>
                                <li><span class="icon flaticon-send-message-button"></span>info@Rabinos.com</li>
                            </ul>
                        </div>
                    </div> #}
                    
                    
                </div>
                
                <div class="content-column col-lg-9 col-md-8 col-sm-12">
                	<div class="inner-column">
                        {# <div class="image">
                        	<img src="assets/images/resource/company-4.jpg" alt="" />
                        </div> #}
                        <h2>Who We Are</h2>
                        <div class="text">
                        	<p>EDIJEN GROUP Nigeria Limited: a Leading Provider of Qualitative Products & Value Driven Services with timely delivery via diverse platform; is an indigenous group whose business strength is bridged to its ability to meet diverse business challenges in our today business world and provide solution to our numerous customers' need.
                            With the help of our highly Spirited Team whose numerous skills have succeeded in making efficiency in our work process a game we have rightly mastered, we count every customer satisfaction as our "Prided Opportunity" well maximised and "your success"  for giving us the opportunity to serve.</p>
                            <p>
                            With no limit in our operational platform nor in our growth plan, we are focus on Building a conglomerate with positive impact on the World's Economy at large.</p>
                            <p>
                            So far, The EDI-JEN Group is a conglomerate of our diverse businesses with operational headquarters in Kaduna, Nigeria, West Africa to be precise whose reputation is built on excellent business practices and quality products.
                            </p>
                            
                            <div class="two-column">
                                <div class="row clearfix">
                                    
                                    {# <div class="column col-md-5 col-sm-5 col-xs-12">
                                        <div class="block-image">
                                            <img src="assets/images/resource/mission.jpg" alt="" />
                                        </div>
                                        <div class="block-image">
                                            <img src="assets/images/resource/mission-1.jpg" alt="" />
                                        </div>
                                    </div> #}
                                    <div class="column col-md-4 col-sm-4 col-xs-12">
                                        <h3>Our Vision</h3>
                                        <p>Building a conglomerate with positive impact on the World’s Economy at Large.</p>
                                        
                                    </div>
                                    <div class="column col-md-7 col-sm-7 col-xs-12">
                                        <h3>Our Mission</h3>
                                       <ul class="list-style-four">
                                        	<li>To become a household name and a leading player for Excellent Driven Services.</li>
                                            <li>To innovatively and economically create value for our shareholders, while continually striving to meet our client’s ever increasing needs, using a team of highly motivated professionals, suitable environment and advanced technology.</li>
                                            <li>We aim to maintain our position as a leading innovative construction and energy solution provider by developing strategies that will provide total quality products and services tailored to meet our customers’ numerous tastes and preferences through the optimal use of human and material resources. </li>
                                           
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                            <h3>Our Core Values</h3>
                            <p>The Choices and the decision we make each day directly affects the way we interact with each other. The universal principle equally applies to clients who will also be affected and respond to our choices and decisions. Being a professional group, our values gives us confidence in that, we are using the same principles to help us make these decisions throughout our global organisation. Hence, every letter in our name  “EDI-JEN” stands for something very significant as a must have to our daily operations.<br/>
                            E – Exceptional Team & Leadership<br/>
                            D – Diversity <br/>
                            I – Integrity & Accountability <br/>
                            J – Judicious Marketing <br/>
                            E – Excellent Customer Services<br/>
                            N – Nation Building <br/>
                            </p>

                             <h3>Our Goals and Objectives</h3>
                            <p>Basically, our goal is to become a professional giant in the construction industry and a leader in Oil and Gas supply, marketing and transportation contributing to the development of these critical sectors as a viable and attractive commercial activity in Nigeria. Our activities are aimed at the following objectives:
                            <ul class="list-style-four">
                                <li>To improve Regulatory Compliance</li>
                                <li>To Manage Fixed Assets and Resources</li>
                                <li>To Lower Working Capital</li>
                                <li>To Reduce operating costs and increase Efficiency</li>
                            </ul>
                            </p>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Company Overview Section-->
    
     
{% endblock %}