{% extends 'master' %}

{% block content %}
    <!--Page Title-->
    <section class="page-title" style="assets/background-image:url(images/background/20.jpg)">
    	<div class="auto-container">
        	<h1>Company Overview</h1>
            <ul class="page-breadcrumb">
            	<li><a href="index-2.html">Home</a></li>
                <li>Company History</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Company Overview Section-->
    <section class="company-overview-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <div class="sidebar col-lg-3 col-md-4 col-sm-12">
                	
                    <div class="sidebar-widget-two cat-widget">
                    	<ul>
                        	<li><a href="company">Company Overview</a></li>
                            <li class="active"><a href="history">Company History</a></li>
                            {# <li><a href="careers.html">Career</a></li>
                            <li><a href="partners.html">Our partners</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li> #}
                        </ul>
                    </div>
                    
                    <!--Help Widget-->
                    {# <div class="sidebar-widget-two help-widget">
                    	<div class="help-inner" style="background-image:url(images/resource/help-img.jpg)">
                        	<div class="icon-box"><img src="assets/images/icons/help-icon.png" alt=""></div>
                            <h3>How Can We Help</h3>
                            <ul>
                            	<li><span class="icon flaticon-telephone-handle-silhouette"></span>1800 456 7890</li>
                                <li><span class="icon flaticon-send-message-button"></span>info@Rabinos.com</li>
                            </ul>
                        </div>
                    </div> #}
                    
                    
                </div>
                
                <div class="content-column col-lg-9 col-md-8 col-sm-12">
                	<div class="inner-column">
                        {# <div class="image">
                        	<img src="assets/images/resource/company-4.jpg" alt="" />
                        </div> #}
                        <h2>Our History</h2>
                        <div class="text">
                        	<p>The Group was birthed and grew from a privately owned fully indigenous Company; EDI-JEN Company Nigeria Limited which was established as a Limited Liability company in 2000 by Chief (Dr) Benjamin Omale, whose dynamic leadership style and foresight has strides for our organization, transforming it to become a conducive environment for the attainment of specific goals and objectives.
                            The company was established to provide excellent Products And services in various industries with major focus in the critical sectors of Oil and Gas, Building and construction, Agro &  Media {Entertainment} industries, with a view to contributing to the socio-economic development of Nigeria and the world at large.</p>
                            <p>
                            In an undeniable effort to recognize individuals and corporate organization that carry out the task of nation building, the federal government of Nigeria identified one hundred most successful companies in the last century with a view to recognizing their unparalleled efforts. One of these enterprises was EDI-JEN Company Nigeria Limited, We carry on the business of producers, refiners, stores, suppliers, haulage and distributors of petroleum products to all our valuable clients’ through our network of branches. We also carry on the business of Builders and contractors for Construction work of any kind, demolition of any structure, acquisition and purchase of lands, houses, Offices, Workshop buildings and premises for the purpose of further satisfying the yearnings and aspirations of our clients. Over the last years, the company executed Buildings and construction projects worth over two billion naira.</p>
                            <p>
                            In a bid to maintain our stronghold in these critical sectors, Edi-Jen company Nig. Limited grew over time to establish more sister companies as well as the registration as a Group. Currently we are made up of three sister Subsidiary Companies and many affiliates whose areas of specialization have greatly assisted in our ability to utilize both human and material resources to achieve maximum results. Our prompt response to financing projects cannot be complete without the partnership efforts of our reliable bankers who are always at hand to provide all necessary financial assistance required. Our extensive track record established in the large and medium scale projects already executed across the country will serve as our reference point. Also visit the Compendium on Centenary Celebration published by the federal government of Nigeria in February 2014 and our website edi-jengroup.com for further information on our activities. 	
                            </p>
                            
                            
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Company Overview Section-->
    
     
{% endblock %}